
/* Activate Button */
/*******************/
/*******************/
/*******************/
/*******************/

	.activate-button
		{
			height: 20px; /* -4px for padding */
			width:  96px;
			cursor: pointer;
			
			padding-top: 4px;
			text-align: center;
			
			
				background:#148EAB;
			   	   background: -moz-linear-gradient(top, #44B3CD, #148EAB);
				background: -webkit-linear-gradient(top, #44B3CD, #148EAB);
						background: linear-gradient(top, #44B3CD, #148EAB);

				
				   -moz-border-radius:3px;
				-webkit-border-radius:3px;
						border-radius:3px;
				
				border:1px solid #155362;
				display:inline-block;
				
				color: #FFFFFF;
				
				font-family: ;
				font:bold 13px Arial;
				text-decoration: none;
				text-shadow:1px 1px 0px #0D5C6E;
				text-transform: uppercase;
		 
			   -moz-box-shadow: 2px 2px 6px 0px #B7B7B7;
			-webkit-box-shadow: 2px 2px 6px 0px #B7B7B7;
					box-shadow: 2px 2px 6px 0px #B7B7B7;
					
			behavior: url(PIE/PIE.htc);		
		}
			.activate-btn-arrow
			{
				font-size: 11px;
			}
			
			.noCodeNeeded
			{
				color: #454545;
				font: bold 11px/14px proxima-nova-1,Arial,Helvetica,sans-serif''
			}
			
			.activate-button:hover
			{
				color: #FFFFFF;
				
					background:#148EAB;
				   	   background: -moz-linear-gradient(bottom, #44B3CD, #148EAB);
					background: -webkit-linear-gradient(bottom, #44B3CD, #148EAB);
							background: linear-gradient(bottom, #44B3CD, #148EAB);
					
			
				behavior: url(PIE/PIE.htc);
			}
			
				.activate-button:active
				{
					color: #C0E0F7;
				}




/*		Get Code Button		*/	
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/


.getCode-button
	{
			width:  96px;
			height: 22px; /* -8px for padding */

			cursor: pointer;
			
			padding-top: 8px;
			text-align: center;
			
			
				background:#148EAB;
			   	   background: -moz-linear-gradient(top, #44B3CD, #148EAB);
				background: -webkit-linear-gradient(top, #44B3CD, #148EAB);
						background: linear-gradient(top, #44B3CD, #148EAB);

				
				   -moz-border-radius:3px;
				-webkit-border-radius:3px;
						border-radius:3px;
				
				border:1px solid #155362;
				display:inline-block;
				
				color: #FFFFFF;
				
				font-family: ;
				font:bold 13px Arial;
				text-decoration: none;
				text-shadow:1px 1px 0px #0D5C6E;
				text-transform: uppercase;
		 
			   -moz-box-shadow: 2px 2px 6px 0px #B7B7B7;
			-webkit-box-shadow: 2px 2px 6px 0px #B7B7B7;
					box-shadow: 2px 2px 6px 0px #B7B7B7;
					
			behavior: url(PIE/PIE.htc);	
	}
		
		.getCode-button:hover
		{
			color: #FFFFFF;
			
				background:#148EAB;
			   	   background: -moz-linear-gradient(bottom, #44B3CD, #148EAB);
				background: -webkit-linear-gradient(bottom, #44B3CD, #148EAB);
						background: linear-gradient(bottom, #44B3CD, #148EAB);
				
		
			behavior: url(PIE/PIE.htc);
		}
		
			.getCode-button:active
			{
				color: #C0E0F7;
			}



/* Show Deal Button :: UK */	
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/


			.show-deal-uk
				{
							height: 20px; /* -4px for padding */
							width:  104px;
						cursor: pointer;

						padding-top: 5px;
						text-align: center;


							background:#148EAB;
						   	   background: -moz-linear-gradient(top, #44B3CD, #148EAB);
							background: -webkit-linear-gradient(top, #44B3CD, #148EAB);
									background: linear-gradient(top, #44B3CD, #148EAB);


							   -moz-border-radius:3px;
							-webkit-border-radius:3px;
									border-radius:3px;

							border:1px solid #155362;
							display:inline-block;

							color: #FFFFFF;

							font-family: ;
							font:bold 13px Arial;
							text-decoration: none;
							text-shadow:1px 1px 0px #0D5C6E;
							text-transform: uppercase;

						   -moz-box-shadow: 2px 2px 6px 0px #B7B7B7;
						-webkit-box-shadow: 2px 2px 6px 0px #B7B7B7;
								box-shadow: 2px 2px 6px 0px #B7B7B7;	
				}

					.show-deal-uk:hover
					{
							color: #FFFFFF;

								background:#148EAB;
							   	   background: -moz-linear-gradient(bottom, #44B3CD, #148EAB);
								background: -webkit-linear-gradient(bottom, #44B3CD, #148EAB);
										background: linear-gradient(bottom, #44B3CD, #148EAB);


							behavior: url(PIE/PIE.htc);
					}

						.show-deal-uk:active
						{
							color: #C0E0F7;
						}
						
						
/*  getCode-oldLanding-button  */
/*******************************/
/*******************************/
/*******************************/
/*******************************/

.getCode-oldLanding-button
	{
		height: 23px;  /* -5 px */
		width:  85px;

		text-align: center;
		padding-top:5px;
				
		 cursor: pointer;

			background:#189BBA;

			display:inline-block;
			
			color: #ffffff;
		
			font: 14px Arial;
			text-decoration:none;

 
				
		behavior: url(PIE/PIE.htc);		
	}
		
		.getCode-oldLanding-button:hover
		{	
				background: #1AB3D6;
		}
		
			.getCode-oldLanding-button:active
			{
				color: #C0E0F7;
			}

/* Code Button (button with checkered border)*/
/*********************************************/
/*********************************************/
/*********************************************/
/*********************************************/


			.w-code-button
			{
				border-style:dashed;
				border-width:2px;
				border-color:#3d7783;
				height:26px;
				width:auto;

			 
				padding-right: 8px;
				
				font: 14 Helvetica;
					
 						display:-moz-inline-stack;
						display:inline-block;
						zoom:1;
						*display:inline;
			}

				.w-code-button .scissors
				{
					margin-left:6px;
					margin-top:6px;
					float:left;
				}


					.w-code-button .wordCode
					{
						font-weight:bold;
						color:#1b7185;	
						font-size:14px;			
						float:left;

							padding-top:5px;
							padding-left:7px;
							padding-right:5px;
					}

					.w-code-button .code
					{
						font-weight:bold;
						color:#15a5c6;	
						font-size:14px;
							
		 						display:-moz-inline-stack;
								display:inline-block;
								zoom:1;
								*display:inline;					
								
						padding-top: 5px;
					}

		